@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{box-sizing: border-box;}

html {
  scroll-behavior: smooth;
}

.section {
  padding-top: 100px; /* Ajusta este valor según la altura de tu navbar */
  margin-top: -100px; /* Debe ser el mismo valor que padding-top pero negativo */
}

@media (max-width: 768px) {
  .navbar-desktop {
    display: none; /* Oculta el Navbar en pantallas pequeñas */
  }
}

/* Estilo para pantallas mayores a 768px, asegura que el Navbar se muestre */
@media (min-width: 769px) {
  .navbar-desktop {
    display: block; /* Asegura que el Navbar se muestre en pantallas grandes */
  }
}

.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none;
}

.sidebar_link {
  height: 100px;
  flex-shrink: 0;
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.grid-about {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 2.4rem;
}